.navbar {
  color: #ffffff;
  background: rgb(0, 29, 29);
}

.navbar a {
  color: #ffffff;
  margin: 0px 25px;
}
.navbar a:hover {
  color: rgb(0, 170, 170);
  text-decoration: none;
}
.brand {
  font-size: 130%;
}
.cart:hover {
  color: #ffffff;
}
