.navbar {
  color: #ffffff;
  background: rgb(19, 19, 19);
}

.navbar a {
  color: #ffffff;
  margin: 0px 25px;
}
.navbar a:hover {
  color: rgb(1, 133, 133);
  text-decoration: none;
}
.brand {
  font-size: 130%;
}
.cart:hover {
  color: #ffffff;
}
