.navbar {
  color: #ffffff;
  background: #18222c;
}

.navbar a {
  color: #ffffff;
  margin: 0px 25px;
}
.navbar a:hover {
  color: #18bc9c;
  text-decoration: none;
}
.brand {
  font-size: 130%;
}
.cart:hover {
  color: #ffffff;
}
