body {
  margin: 0;
  padding-top: 3.5em;
  background: #f1f1f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  color: #ffffff;
  background: rgb(0, 29, 29);
}

.navbar a {
  color: #ffffff;
  margin: 0px 25px;
}
.navbar a:hover {
  color: rgb(0, 170, 170);
  text-decoration: none;
}
.cart {
  height: 2.6em;
  min-width: 7em;
  background: rgb(0, 68, 68);
  cursor: pointer;
}
.cart span {
  font-size: 120%;
}
.brand {
  font-size: 130%;
}
