body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  color: #ffffff;
  background: rgb(0, 53, 53);
}
.dropdown-menu a {
  padding: 20px;
  text-align: center;
}
.dropdown-menu a:hover {
  background: rgba(0, 105, 105, 0.089);
  transition: 0.3s;
}
.dropdown-menu.show {
  padding: 0px;
}
